In [12]:
from pulp import *
import pandas as pd
import pandas as pd
from sqlalchemy.orm import sessionmaker
from sqlalchemy import create_engine
from datetime import datetime, timedelta

from data.models import Player, KtcValue

In [5]:
DB_USERNAME = os.environ['DB_USERNAME']
DB_PASSWORD = os.environ['DB_PASSWORD']
DB_HOST = os.environ['DB_HOST']
DB_PORT = os.environ['DB_PORT']
DB_NAME = os.environ['DB_NAME']

DB_URL = f"postgresql://{DB_USERNAME}:{DB_PASSWORD}@{DB_HOST}:{DB_PORT}/{DB_NAME}"

engine = create_engine(DB_URL, echo=False)
Session = sessionmaker(bind=engine)
session = Session()

In [34]:
offset = datetime.now() - timedelta(days=2)
players = session.query(Player).join(Player.ktc_values).filter(
    Player.ktc_id.is_not(None),
    KtcValue.date >= offset
).distinct().all()

In [36]:
playerData = []
for player in players:
    mostRecentVal = max(player.ktc_values, key=lambda x: x.date)
    playerData.append({
        'name': player.display_name,
        'pos': player.position,
        'value': mostRecentVal.value
    })

df = pd.DataFrame(playerData)

In [52]:
ids = df['name']
df[ids.isin(ids[ids.duplicated()])].sort_values("name").head(50)

                   name  pos  value
11          Alec Pierce   WR   1582
618         Alec Pierce   WR   1582
25   Anthony Richardson   QB   7709
596  Anthony Richardson   QB   7710
57          C.J. Stroud   QB   9278
609         C.J. Stroud   QB   9286
73        Charlie Jones   WR    686
74        Charlie Jones   WR    686
649         Chase Brown   RB   2959
75          Chase Brown   RB   2954
614         Chris Olave   WR   6047
82          Chris Olave   WR   6051
86     Christian Watson   WR   3566
615    Christian Watson   WR   3571
602      Dalton Kincaid   TE   5255
111      Dalton Kincaid   TE   5255
176     Elijah Mitchell   DB   1717
177     Elijah Mitchell   RB   1717
212           Irv Smith   TE    761
213           Irv Smith   TE    761
642        Jahan Dotson   WR   2751
225        Jahan Dotson   WR   2736
597        Jahmyr Gibbs   RB   7096
226        Jahmyr Gibbs   RB   7090
622         Jalin Hyatt   WR   2058
239         Jalin Hyatt   WR   2053
647          James Cook   RB   4492
244          James Cook   RB   4484
263         Jayden Reed   WR   4170
630         Jayden Reed   WR   4175
654        Jelani Woods   TE   1593
267        Jelani Woods   TE   1598
621      Jonathan Mingo   WR   1668
280      Jonathan Mingo   WR   1673
648      Jordan Addison   WR   4270
283      Jordan Addison   WR   4278
286          Josh Allen   QB   9961
287          Josh Allen  OLB   9963
603          Josh Downs   WR   2963
288          Josh Downs   WR   2962
644       Kendre Miller   RB   2608
322       Kendre Miller   RB   2598
326      Kenneth Walker   RB   4607
627      Kenneth Walker   RB   4620
607       Kenny Pickett   QB   1224
329       Kenny Pickett   QB   1220
637        Malik Willis   QB    739
356        Malik Willis   QB    739
366         Marvin Mims   WR   2379
610         Marvin Mims   WR   2379